@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
body {
    background: #558855; 
    line-height: 22px;
    font-size: 14px;
    color: blueviolet;
}
.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi-bold {
    fone-size: 16px;
    fone-weight: 500;
}
.resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}
.resume .resume-left {
    width: 280px;
    background: chartreuse;
}
.resume .resume-left .resume-profile {
    width: 100%;
    height: 280px;
}