<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV/RESUME ONLINE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src=""
</head>
<body>
    <div class="resume">
        <div class="resume-left">
            <div class="resume-profile">
                <img src="profile.jpg" alt="profile-pic">
            </div>
            <div class="resume-content">
                <div class="resume-item resume-info">
                    <div class="title">
                        <p class="bold">stephen colbert</p>
                        <p class="regula">Designer</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <div class="icon"></div>
                        <div class="data">
                            284 Street, Le Dai Hanh <br/> Da Nang
                        </div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="data">
                           +84 896204451
                        </div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="data">
                            yenvy.011100@gmail.com
                        </div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="data">
                            https://www.facebook.com/vyphan0111
                        </div>
                    </li>
                </ul>
                <div class="resume-item resume-skills">
                    <div class="title">
                        <p class="bold">skill's</p>
                    </div>
                </div>
                <div class="resume-item resume-social">
                    resume-social
                </div>
            </div>
        </div>

    </div>
</body>
</html>